DB_ACCESS_STRING="Here goes the MongoDB cluster access string"
DB_NAME="Name of the database inside the cluster"
PORT=Server port
JWT_SECRET="JWT secret used to sign and decrypt tokens"
TOKEN_TTL=Token time to live (duration)
GOOGLE_CLIENT_ID="Google Application client id"
CLIENT_SECRET="Google Application client secret"
SERVER_URL="hostname of the server (used as hostname for the Google OAuth redirect URL)"